
html {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e8ed;
    margin:0;
    padding: 45px 45px 45px 45px;

}

.page {
    background-color: #e5e8ed;
    margin:0;
    padding:0;
}

@media (max-width: 370px) {
        html {
            padding: 0px 0px 0px 0px;
        }
}

.group-table {
    padding-top: 19px;
    /* margin-bottom: 85px; */
    width: 280px;
    height: 333px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #ffffff;
}

.form-control{
    width: 245px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #c3ccd9;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
}

.board-row{
    margin: 0px 17px 20px 18px;
    height:40px;
    
}

.board-btn{
    margin: 32px 17px 23px 18px;
    width: 245px;
    border-radius: 3px;
    background-color: #1493ff;
    background-color: #ffffff;

}

.btn-block{
    padding-top: 7;
    padding-bottom: 10px;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;

}

.btn .btn-primary .btn-block{
    height: 16px;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
 
