
html {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e8ed;
    margin:0;
    padding: 45px 45px 45px 45px;

}

.page {
    background-color: #e5e8ed;
    margin:0;
    padding:0;
}

@media (max-width: 370px) {
        html {
            padding: 0px 0px 0px 0px;
        }
}