.table{
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    width: 595px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c8ccd4;

}

.table .thead-dark th{
    background-color: #0a508c;
}

.small_btn{
    margin-top:47px;
    margin-bottom:13px;
    margin-right: 24px;
    width: 91px;
    height: 24px;
    border-radius: 3px;
    background-color: #1493ff;
    background-color: #ffffff;
    margin-left: auto;

    
}
.btn-sm{
    width: 91px;
    height: 24px;
    border-radius: 3px;
    background-color: #1493ff;
    font-size: 12px;
    font-weight: 300;
    padding-top: 2px;
    
}

.table_edit_options{
    display:flex;
    align-items: baseline;
    
}

.delete_icon{
    padding-right:13px;
}


.table_section{
    max-width: 595px;
    min-width: 280px;

}
